@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
}
:root{
    --lightgrey:#d3d3d3;
    --blue:#0000ff;
    --white:#fff;
    --gray: #808080;
    --darkblue:rgb(2, 2, 54);
}
body{
   display: flex;
   flex-direction: column;
   align-items: center;
}
#home{
    /* background: url('./images/hero.png'), linear-gradient(#fff, #fff); */
    background-image: url('./images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
 nav .logo h2 a{
    text-decoration: none;
    color:white;
    padding: 10px; 
}
nav ul li{
    display: inline-block;
    padding: 10px; 
}
nav ul li a{
    color: white;
    text-decoration: none;
    /* font-size: 18px; */
}
nav .button a{
    color:white;
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
} 
.colorbtn{
    background-color: #0000ff;
    border-radius: 10px;
}
.colorbtn a .member-icon{
    text-align: center;
}
.hometxt{
    display: flex;
    align-items: center;
    justify-content: center; /*changed from flex-end orcenter*/
    flex-direction: column;
    margin-top: 2rem;
    color: white;
    padding-top: 5rem;

}
.hometxt h1{
    text-transform: capitalize;
    margin: 10px;
    font-size: 50px;
}
.hometxt p{
    padding: 0.5rem;
    text-align: center;
}
.homebuttons{
    display: flex;
    gap: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 3rem;   /*Added this*/
}
.homebuttons .homebutton1{
    background-color: var(--blue);
    color: var(--white);
    padding: 20px;
    border-radius: 15px;
    border: var(--blue);
}
.homebuttons .homebutton2{
    padding: 20px;
    color: var(--white);
    border: solid 1px var(--white);
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0);
}
.home-cardbody{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    margin-top: -30px;
} 
.home-cardbody .hcard{
    background-color: var(--white);
    padding: 10px;
}
.home-cardbody .hcard .hicon{
    color: var(--blue);
    font-size: 40px;
}
.home-cardbody .hcard:hover{
    background-color: var(--blue);
    color: white;
} 
.home-cardbody .hcard .hicon:hover{
    color: var(--white);
}

/*PRICING*/
#pricing{
    background-color: #fcfbfb;
}
.division{
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "division1 division2 division3";
    margin-top: 5rem;
}
.divisionarea {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divisionarea .divisionicon{
    color: var(--blue);
    font-size: 40px;
    padding: 10px;
}
.divisionarea h3{
    padding: 10px;
}
.divisionarea p{
    text-align: center;
    color: var(--gray);
}
.sec1{
    grid-area: division1;
}
.sec2{
    grid-area: division2;
}
.sec3{
    grid-area: division3;
}
/*INDUSTRY*/
#industry h1{
    text-align: center;
    margin-top: 3em;    /*change this*/
    margin-bottom: 1.5em;    /*change this*/
    font-size: 30px; /*Work on this later*/
}
#industry p{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.personprofile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "profileone profiletwo profilethree";
    justify-items: center;
    align-items: center;
}
.card1{
    grid-area: profileone;
}
.card2{
    grid-area: profiletwo;
}
.card3{
    grid-area: profilethree;
}
.personcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; 
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.1); 
    margin-bottom: 5em; /*change this*/
    margin-top: 3em;    /*change this*/
}
.personcard img{
    width: 40%;
    padding: 10px;
}
.personcard .profileicons{
    color:yellow;
}
/*VECTOR IMAGES*/
.priceimages{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 3em; /*change this*/
    margin-bottom: 3em; /*change this*/
}
.priceimages img{
    width: 5%;
}
/*SUBSCRIBE LETTER*/
.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}
.subletter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    background: linear-gradient(to right, rgb(8, 8, 241) 30%, rgb(230, 13, 121) 70%);
    padding: 20px;
    color: var(--white);
}
.letter .subletter h1{
    text-transform: capitalize;
    color: var(--white);
}
.letter .subletter h1 input[type=text], .letter .subletter h1 input[type=button]{
    padding: 10px;
}
.letter .subletter h1 input[type=button]{
    background-color: var(--blue);
    color: var(--white);
}

/*PRICE CARD*/

#pricecard .pricetop{
    text-align: center;
    padding: 4rem;
}
.pricetop p{
    padding-top: 15px;
    color: var(--gray);
}
.pricecardcontainer {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    padding-bottom: 5rem;
} 
.cardbody {
    border: 1px solid  var(--blue);
    padding: 20px;
    text-align: center;
}
.cardbody h2{
    padding: 30px;
}
.cardbody .parprice{
    padding: 10px;
    color: var(--gray);
    font-weight: 700;
}
.cardbody .price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.price{
    color: var(--blue);
}
.cardbody .price h3{
    padding-right: 5px;
    font-size: 30px;
}
.cardbody .price h3 span{
    font-size: 14px;
}
.cardbody .icongreen{
    color: rgb(28, 209, 28);
    font-size: 30px;
    text-align: center;
}
.cardbody .icongrey{
    color: var(--gray);
    font-size: 30px;
    text-align: center;
}
.cardbody:hover{
    background-color: var(--darkblue);
    color: var(--white);
}
.cardbody button{
    background-color: var(--blue);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    border: var(--blue);
    margin-top: 2rem;
}

/*WORLD*/
#world{
    background: linear-gradient(to bottom, var(--darkblue) 70%, #fcfbfb 30%);
    color: var(--white);
    padding-bottom: 3rem;
}
.continent{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "world1 world2"; */
    display: flex;
    justify-content: space-between; 
    padding: 2rem;
}
.continenttext{
    /* grid-area: world1; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    justify-content: flex-start;
    width: 40%;
}
.continenttext h1{
    margin-bottom: 20px;
    font-weight: 800;
    text-transform: capitalize;
}
.continentimage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formappointment{
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 10px;
}
.formappointment form{
    background-color: var(--white);
    width: 30%;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch;
}
.formappointment form h2{
    padding: 15px;
    text-align: center;
}
form div{
    padding: 10px;
}
#formname, #formemail, #formdepartment, #formtime, #formbutton{
    padding: 10px;
    width:80%
}
#formbutton{
    background-color: var(--blue);
    color: var(--white);
    margin: 10px;
}
.lastworld{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;
    /* padding: 10px; */
}
.lastworld h2{
    color: black;
    text-transform: capitalize;
}
.lastworld p{
    color: var(--gray);
}
.lastworldbtn input[type=button]{
    background-color: var(--blue);
    padding: 15px;
    color: var(--white);
    border-radius: 2px;
    font-size: 18px;
    border: var(--blue);
}
/*FOOTER*/
.companylist{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "one two three four five";
    background-color: var(--white);
    padding: 10px;
}
.part1{
    grid-area: one;
}
.part2{
    grid-area: two;
}
.part3{
    grid-area: three;
}
.part4{
    grid-area: four;
}
.part5{
    grid-area: five;
}
.part1 .handle, .part2 .handle, .part3 .handle, .part4 .handle, .part5 .handle{
    font-weight: 800;
    color: black;
}
.part1 p, .part2 p, .part3 p, .part4 p, .part5 p{
    padding: 5px;
    font-size: 18px;
    color: var(--gray);
}
.rights{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--lightgrey);
    color: var(--gray);
    font-size: 20px;
    text-transform: capitalize;
}
.footericon{
    color: var(--blue);
    font-size: 20px;
    padding-right: 10px;
}
@media screen and (max-width:840px){
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .personprofile{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "profileone"
        "profiletwo"
        "profilethree";
        justify-items: center;
        align-items: center;
    }
    .personcard{
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:800px) {
    .homebuttons{
        margin-bottom: 2.5rem;
    }
    .home-cardbody{
        margin-top: -30px;
    }
    #industry p{
        font-size: 18px;
    }
    #industry .personcard p{
        font-size: 18px;
    }
    #pricecard .cardbody .icongreen, #pricecard .cardbody .icongrey{
        font-size: 25px;
    }
   #world .continenttext{
    width: 30%;
   } 
   #world .continentimage{
    width: 70%;
   }
   .formappointment form{
    width: 45%;
   }
   #myfooter .companylist P, #myfooter .rights p{
    font-size: 16px;
   }
   .part5 .footericon{
    font-size: 18px;
   }
}
@media screen and (max-width:725px) {
    .home-cardbody{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "card111" "card112" "card113";
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .h1card{
        grid-area: card111;
    }
    .h2card{
        grid-area: card112;
    }
    .h3card{
        grid-area: card113;
    }
    .home-cardbody .hcard{
        border: 1px solid black;
    }
    .pricecardcontainer{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "card11" "card12" "card13";
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .free{
        grid-area: card11;
    }
    .standard{
        grid-area: card12;
    }
    .premium{
        grid-area: card13;
    }
}
@media screen and (max-width:600px){
    .continent{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: "world1" "world2";
        padding: 20px;
    }
    .continenttext{
        grid-area: world1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }
    .continentimage{
        grid-area: world2;
    }
}
@media screen and (max-width:420px){
    .hometxt h1{
        font-size: 38px;
    }
    .hometxt p{
        font-size: 15px;
        text-align: center;
    }
}